body,
html {
    font-family: "Noto Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}
a.nav-link.active{
    font-weight: bold;
}
button.navbar-toggler{
    margin-top: 8px;
}
.container.headlines {
    text-align: center;
}
button.navbar-toggler>span{
    margin: 0;
}
button.navbar-toggler{
    border: none;
}
span.navbar-toggler-icon {
    background-image: none !important;
}
i.fas.fa-bars{
    color: white;
}
.bg-light {
    background-color: transparent !important;
}
nav.navbar.nav.navbar-light.bg-light {
    background-color: transparent !important;
}
.dropdown-menu.show{
    display: block;
}
.dropdown-menu.show:hover{
    display: inline;
}.dropdown-menu.show{
     display: block;
 }
.dropdown-menu.show:hover{
    display: inline;
}
.container-fluid {
    background: rgba(53, 55, 60, 0.8);
    color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    min-height: 70px;
}
.carousel-inner {
    width: 100%;
    height: 500px;
}
.carousel-item {
    height: 100%;
    width: 100%;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: .5rem 0 1rem 0;
}
.carousel-item.slide.slide1 {
    background: #35373c url(./Image/hero-stories.jpg) no-repeat 50%;
    background-size: cover;

}
.actions{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.actions>a{
    color: #ffffffdb;
    -webkit-transition: all 0.4s ease-in-out;
}
.actions>a:hover{
    color: white;
}
.actions>a>svg{
    opacity: 54%;
    margin: 10px;
    -webkit-transition: all 0.4s ease-in-out;
}
.actions>a>svg:hover{
    opacity: 100%;
}
div#navbarNavDropdown {
    justify-content: flex-end;
}
a.navbar-brand {
    color: white !important;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
}
a.btn-signin {
    background: rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    top: 3px;
    font-size: 12px;
    color: white;
}
header{
    width: 100%;
}
.container.nav {
    padding-right: 11px;
    padding-left: 11px;
}
a.nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
    background: none;
    padding-right: 13px !important;
    /*padding-left: 12px !important;*/
    font-weight: 100;

    font-size: 12px;
}
a.nav-link:hover {
    color: white !important;
}


.dropdown-menu.show {
    background: rgba(0, 0, 0, 0.4);
}
.dropdown-item {
    background: rgba(53, 55, 60, 0.8);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-color: rgba(53, 55, 60, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 20px;
    color: rgba(255, 255, 255, 0.8);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    display: block;
}
.dropdown-menu.show {
    color: rgba(255, 255, 255, 0.8);
    background: none;
    border: none;
    font-size: 12px;
    margin-top: 7px;
    min-width: 200px;
    right: 0;
    left: auto;
}
.dropdown-item:hover {
    background: #35373c;
    color: #fff;
}
a {
    -webkit-transition: all 0.4s ease-in-out;
}
a:hover {
    text-decoration: none;
}
button.navbar-toggler.collapsed {
    outline: none;
}
.headlines {
    position: relative;
    z-index: 10;
    padding-top: 90px;
}
h2.headlines {
    font-size: 36px;
    /* margin-top: 0; */
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: white;
}
p.tagline {
    font-size: 18px;
    margin-bottom: 30px;
    color: white !important;
}
img.play-icon {
    vertical-align: middle;
    border-style: none;
    margin-right: 10px;
}
a.btn.btn-cta.btn-primary {
    cursor: pointer;
    padding: 13px 32px 12px 33px;
    padding-top: 13px;
    background: #51a852;
    border: 2px solid #51a852;
    color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    outline: none;
    margin-right: 30px;
    outline: none;
}
a.btn.btn-primary:hover {
    background: #49974a;
    border: 2px solid #49974a;
}
div#carouselExampleFade {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 500px;
}
a.video-play-trigger {
    color: white;
}
button.navbar-toggler {
    outline: none;
}
li.nav-item {
    margin-right: 4px;
}
div#navbarNavDropdown {
    justify-content: flex-end;
    margin-top: 10px;
}

.mask {
    background-image: -webkit-linear-gradient(
            top,
            rgba(0, 0, 0, 0.6) 51%,
            rgba(0, 0, 0, 0)
    );
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: 5;
}
section.page-lading {
    width: 100%;
    height: 500px;
}

/************************* Page One *******************/

div.grid-service {
    margin-top: 90px;
    background: #159bc0;
    height: 362px;
    display: flex;
    margin-bottom: 30px;
}
.image-gridservice{
    position: relative;
}
.btn.infinity{
    margin-top: 3px;
}

.mask-story{
    background: rgba(21,155,192,0.2);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.image-gridservice>img{
    height: 362px;

}
.container.service{
    padding-right: 10px;
    padding-left: 10px;
}
.text-grid-service{
    text-align: start;
    padding: 30px 38px;
    color: white;
    /* margin-top: -71px; */
    height: 100%;
    width: 100%;
}
.text-grid-service>h3{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    padding-top: 15px;
}
.text-grid-service>p{
    margin-bottom: 20px;
    margin-top: 15px;
}
.infinity>a{
    color: white;
    border: solid 2px;
    padding: 9px 20px;
    border-radius: 4px;
    font-weight: 700;
}
.infinity>a:hover{
    background: white;
    color: black;
    border: solid 2px white;
}
.infinity{
    padding: 0;
}
img.rounded-circle{
    height: 80px;
    position: relative;
    z-index: 5;
    bottom: -41px;
}
.card-body{
    position: relative;
    padding: 14px 40px;
}
.profil{
    position: relative;
    display: flex;
}
.card{
    background: #f5f5f5;
    border: none;
    border-radius: 4px;
}
.col-sm-6{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
svg.svg-inline--fa.fa-quote-left.fa-w-16{
    width: 16px;
    color: #6569725c;
    position: relative;
    left: 0;
    z-index: 5;
    margin: 35px 0 0 29px;
}
p.card-text{
    font-weight: lighter;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}
h5.card-title {
    font-size: 14px;
    margin:0;
    color: #656972;
    font-family: Roboto;
}
.details>p{
    font-size: 14px;
    color: #7d828d;
    margin-bottom: 1.5rem;
    font-family: Roboto;
}
.grid-service.reverse{
    flex-direction: row-reverse;
}

/**************** Footer ********************/
.container-fluid.footer{
    position: relative !important;
    background: #35373C;
    color: #fff;
    position: absolute;
    margin-top: 182px;
    padding-right: 0;
    padding-left: 0;
}
.container-fluid.footer>.container{
    padding-right: 13px;
    padding-left: 13px;
}
.card.footer{
    background: #35373C;
    border: none;
    padding-top: 40px;
}
.logo-text.footer>h3 {
    font-size: 16px;
    margin-bottom: 6px;
    color: #ffffffe8;
    font-weight: 400;
    font-family: Roboto;
}
.media-footer>ul {
    justify-content: center;
    display: flex;
    padding: 0;
}
.card-body>.container>p {
    color: gray;
    font-size: 14px;
    margin: 20px 0 12px 0;
}
span.footer {
    font-size: 11px;
    background: #198754!important;
    color: white;
    padding: 0px 6px 2px 7px;
    margin: 0;
    border-radius: 4px;
    font-weight: 600;
}
.footer.order-last>a>li {
    border: none !important;
    list-style-type: none;
    color: #ffffffad;
    font-size: 14px;
    padding: 0 0 5px 0;
}
.footer.order-last>a>li:hover {
    text-decoration: underline;
}
li.border{
    border: none !important;
    list-style-type: none;
}

.container.text.footer {
    border-bottom: #80808054 0.5px solid;
    padding-right: 0;
    padding-left: 0 !important;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer.order-last{
    text-align: start;
    width: 25%;
}
.card-body.footer{
    padding: 1.25rem 1.25rem 2.25rem 1.25rem;
}
.media-footer>ul{
    justify-content: center;
    display: flex;
}
li.footer{
    list-style-type: none;
}
li.footer>a>svg {
    overflow: hidden;
    vertical-align: middle;
    width: 32px;
    color: #ffffffad;
    background: rgba(0,0,0,0.1);
    border: 1px solid transparent;
    border-radius: 28px;
    padding-top: 50px;
    padding: 5px 7px 6px 7px;
    margin: 6px;
    -webkit-transition: all 0.4s;
}
li.footer>a>svg:hover {
    background: rgba(0,0,0,0.2);
    color: #fff;
}
svg.svg-inline--fa.fa-facebook-f.fa-w-10.footer {
    width: 30px;
    color: #ffffffad;
    background: rgba(0,0,0,0.1);
    border: 1px solid transparent;
    border-radius: 28px;
    padding-top: 50px;
    padding: 5px 9px 6px 8px;
    margin: 6px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
svg.svg-inline--fa.fa-facebook-f.fa-w-10.footer:hover {
    background: rgba(0,0,0,0.2);
    color: #fff;
}
.container.copyright>p {
    font-size: 12px;
    color: rgba(255,255,255,0.4);
}
.container.copyright {
    text-align: center;
}
.container.copyright>p>a {
    color: rgba(255,255,255,0.4);
}
.container.copyright>p>a:hover {
    text-decoration: underline;
}


@media  (max-width: 991px){
    div.grid-service {
        margin: 20px;
        /* text-align: center; */
        background: #159bc0;
        /* height: 300px; */
        align-items: start;
        /* flex-direction: column; */
        height: auto;
        max-width: 100%;
        height: 387px;
        width: 700px;
    }
    .image-gridservice>img{
        height: 268px;
        width: 400px;
    }
    .container.service{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profil{
        flex-direction: column;
    }
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
    }










.media-footer>li>a>svg{
        width: 32px;
        color: #ffffffad;
        background: rgba(0,0,0,0.1);
        border: 1px solid transparent;
        border-radius: 28px;
        padding-top: 50px;
        padding: 5px 7px 6px 7px;
        margin: 6px;
        -webkit-transition: all 0.4s ease-in-out;
    }
    .container-fluid.footer {
        position: relative;
        background: #35373C;
    }
    .card.footer {
        background: #35373C;
        border: none;
        padding-top: 40px;
    }
    .container.text.footer{
        border-bottom: #80808054 0.5px solid;
        padding-right: 0;
        padding-left: 0 !important;
        margin-right: 0;
        margin-left: 0;
        padding-bottom: 40px;
    }
    .footer.order-last {
        text-align: start;
        width: 25%;

    }
    .footer.order-last>a>li{
        border: none !important;
        list-style-type: none;
        color: #ffffffad;
        font-size: 14px;
        padding: 0 0 5px 0;
    }
    .row.footer{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .logo-text.footer>h3{
        font-size: 16px;
        margin-bottom: 6px;
        color: #ffffffe8;
        font-weight: 400;
    }
    span.footer{
        font-size: 11px;
        background: #198754!important;
        color: white;
        padding: 0px 6px 2px 7px;
        margin: 0;
        border-radius: 4px;
        font-weight: 600;

    }
    span.footer:hover{
        text-decoration: unset;
    }
    .footer.order-last>a>li:hover{
        text-decoration: underline;
    }

    li.footer>a>svg{
        width: 32px;
        color: #ffffffad;
        background: rgba(0,0,0,0.1);
        border: 1px solid transparent;
        border-radius: 28px;
        padding-top: 50px;
        padding: 5px 7px 6px 7px;
        margin: 6px;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
    }

    li.footer>a>svg:hover{
        background: rgba(0,0,0,0.2);
        color: #fff;
    }
    svg.svg-inline--fa.fa-facebook-f.fa-w-10.footer:hover{
        background: rgba(0,0,0,0.2);
        color: #fff;
    }
    svg.svg-inline--fa.fa-facebook-f.fa-w-10.footer{
        width: 30px;
        color: #ffffffad;
        background: rgba(0,0,0,0.1);
        border: 1px solid transparent;
        border-radius: 28px;
        padding-top: 50px;
        padding: 5px 9px 6px 8px;
        margin: 6px;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
    }
    svg.svg-inline--fa.fa-facebook-f.fa-w-10.footer:hover{
        background: rgba(0,0,0,0.2);
        color: #fff;
    }
    li.footer {
        list-style-type: none;
    }
    li.footer{
        list-style-type: none;
    }
    .media-footer>ul{
        padding: 0;
    }
    .media-footer>ul{
        justify-content: center;
        display: flex;
    }
    .container.copyright {
        text-align: center;
    }
    .container.copyright>p{
        font-size: 12px;
        color: rgba(255,255,255,0.4);
    }
    .container.copyright>p>a{
        color:rgba(255,255,255,0.4) ;
    }
    .container.copyright>p>a:hover{
        text-decoration: underline;
    }
    .card-body.footer{
        padding: 1.25rem 1.25rem 2.25rem 1.25rem;
    }



    @media (max-width:991px){
        .card.text-center{
            width: 100%;
        }
    }
    @media (max-width:790px) {
        .container-fluid.logo>.container>.row{
            display: none;
        }

}
@media (max-width: 768px){
    .grid-service.reverse{
        flex-direction: column;
    }
    div.grid-service {
        margin: 20px;
        /* text-align: center; */
        background: #159bc0;
        /* height: 300px; */
        align-items: start;
        flex-direction: column;
        height: auto;
        /* max-width: 100%; */
        /* height: 387px; */
        width: 100%;
    }
    .image-gridservice>img {
        height: 100%;
        width: 100%;
    }
    .text-grid-service{
        padding: 33px;
    }
}
    @media (max-width: 590px) {
        .actions{
            display: flex;
            flex-direction: column;
        }
        .row{
            display: contents;
        }
        a.btn.btn-cta.btn-primary{
            width: 179px;
            font-weight: 600;
            padding: 13px 16px 12px 11px;
        }
        a.video-play-trigger{
            width: 180px;
            margin-top: 15px;
        }
        .container-fluid.footer{
            padding: 0;
        }
        .card.footer{
            padding: 0;
        }
        .footer.order-last{
            width: 50%;
        }


        .container.image-center {
            position: relative;
            padding: 0;
        }
        .iphone > img {
            width: 80px;
            /*bottom: 16px;*/
        }
        .iphone {
            right: 0;
            position: absolute;
            bottom: 16px;
        }
        .container-fluid.text{
            margin-top: -14px;
        }
        .logo-text > img {
            /*display: none;*/
        }
        .col{
            padding: 50px 30px 11px 30px;
            padding-left: 45px;
            padding-right: 45px;
        }
        .logo-text > h3 {
            margin-top: 0;
        }
        .col.order-first>p {
            padding-top: 15px;
            font-weight: 500;
            font-family: 'Roboto';
        }
        .order{
            display: none;
        }
        .row.img > img {
            display: none;
        }
        .row.img{
            width: auto;
            /*padding-right: 15px;*/
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
        div.list > ul > li{
            text-align: right;
        }
        .ipad > img {
            width: 220px;
            /* height: auto; */
            max-width: 100%;
        }
        .play{
            display: none;
        }
        .col.text{
            padding: 0;
        }
        div.list > ul > li > img {
            display: none;
        }
        div.list>ul{
            padding: 0;
        }
        .container.btn-ble {
            padding-top: 50px;
        }
        .container.download-app{
            flex-direction: column;
        }
        .container.image{
            width: 100%;
            padding-right: 10px;
            padding-left: 10px;
        }
        a.btn.btn-logo.stories {
            margin: 60px 0 90px 0;
        }
        .col.content{
            flex-basis: auto;
            margin: 30px 0 0 0;
        }
        /*.container.text>.row>.col{*/
        /*  padding: 0;*/
    }
    .logo-text>h2{
        font-size: 25px;
    }
    .logo-text{
        padding-top: 30px;
    }
    .container.text{
        padding: 0;
    }
    .container-fluid.text.form{
        padding-right: 10px;
        padding-left: 10px;
    }
    form>.row{
        display: contents;
    }
    div.col.form {
        padding: 16px 11px;
    }
    .container-fluid.image-world{
        padding-right: 3px;
        padding-left: 3px;
        margin-right: auto;
        margin-left: auto;
    }
    form{
        display: contents;
    }
    /*.row{*/
    /*  display: contents;*/
    /*}*/
    .container.image>.row{
        width: 100%;
        margin: 0;
    }
    div.list > ul > li {
        margin: 20px 0 -4px 0;
    }
    .container-fluid.text{
        padding-bottom: 85px;
    }

    a.btn.btn-logo.people{
        margin-bottom: 50px;
    }
    .container.download-app {
        align-items: center;
        display: flex;
    }
    div.list > ul > li{
        font-family: 'Roboto';
        font-weight: 400;
        color: #6e6e6e;
    }
    h2.headlines{
        font-size: 32px;
    }


}



/*************** Page One *****************/
/*section.page-one {
    padding-top: 90px;
}
.container.page-one > p {
    margin-bottom: 60px;
    color: #656972;
}
.container.page-one {
    text-align: center;
    max-width: 760px;
}
.container.page-one > h2 {
    font-size: 28px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
a.text-link {
    color: #159bc0;
    transition: 0.5s;
}
.col.order-first>p{
    padding-top: 20px;
    font-weight: 500;
    font-family: 'Roboto';
}
a.text-link:hover {
    text-decoration: underline;
}
div.mackbook > img {
    max-width: 100%;
    height: auto;
}
.ipad {
    position: absolute;
    bottom: 17px;
    left: 0;
}
.ipad > img {
    width: 520px;
    /* height: auto; */
    max-width: 100%;
